@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

.img-responsive
	display: block
	max-width: 100%
	height: auto

h1, .h1
	font-family: $default-font
	font-size: 110px
	color: #000000
	margin: 0px
h2, .h2
	font-family: $default-font
	font-size: 55px
	color: #000000
	margin: 0px
h3, .h3
	font-family: $default-font
	font-size: 31px
	color: #000000
	margin: 0px
h4, .h4
	font-family: $default-font
	font-size: 24px
	color: #000000
h5, .h5
	font-family: $default-font
	font-size: 14px
	color: #000000
	letter-spacing: 6px
	margin-bottom: 0px
p
	font-family: $default-font
	font-size: 17px
	color: #000000

.tr-btn
	border: solid 1px $accent
	padding: 10px 20px
	transition: background .3s ease
	&:hover
		background: $accent
		color: #ffffff
		text-decoration: none

.btn-grey
	color: #000000
	background: #f1f1f1
	padding: 5px 10px
	border-radius: 20px
	transition: background .3s ease
	&:hover
		background: $accent2
		color: #ffffff
		text-decoration: none
header
	border-top: solid 8px $accent
	.header-lvl1
		border-bottom: solid 1px #dedede
	.logo-cont
		position: relative
		.h4
			font-size: 18px
			font-weight: 900
		p
			font-size: 16px
			font-weight: 500
			display: inline-block
			margin: 0px
			position: relative
			top: -7px
		.img-cont
			display: inline-block
			position: relative
			top: -18px
		.logo-discr
			display: inline-block
			margin-top: 25px
	.contacts
		margin-top: 41px
		svg
			position: relative
			top: 2px
		ul
			padding: 0px
			margin: 0px
			li
				position: relative
				display: inline-block
				margin-right: 10px
				&:first-child
					padding-right: 20px
					margin-right: 0px
				&:last-child
					margin-right: 0px
				a
					color: #000
	.menu-main
		ul
			padding: 0px
			margin: 0px
			li
				display: inline-block
				padding: 17px
				transition: background .3s ease
				&:hover
					font-weight: 900
					background: #f1f1f1
					cursor: pointer
				a
					color: #000
					display: inline-block
					min-width: 71px
					text-align: center
					&:hover
						text-decoration: none
	.menu-cont
		position: relative
	.vk-cont
		text-align: right
		a
			display: inline-block
			margin-top: 14px

.main-slider-sec
	#main-slider
		padding: 0px
		.item
			height: 617px
			position: relative
			.row, .container
				height: 100%
		.content-slider
			position: relative
			border-left: 10px solid $accent
			background-color: rgba(255, 255, 255, 0.878)
			box-shadow: -28.982px -1.012px 42px 18px rgba(0, 0, 1, 0.21)
			padding: 20px 50px
			top: 50%
			transform: translateY(-50%)
			.h2
				font-size: 34px
				font-weight: 900
			.h3
				font-size: 23px
				font-weight: 700
			p
				font-size: 16px
				font-weight: 500

@import "media" // Всегда в конце
